.section-national-team .new-arrivals-box {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding-top: 2.4rem;
  margin-top: 0;
}

.national-team-heading {
  margin-top: 4.4rem;
  text-align: center;
}

.national-team-heading p {
  margin-top: 2.4rem;
}

.new-arrivals-header {
  padding-top: 3.2rem;
}

.national-team-header {
  margin-top: 3.2rem;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.05); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-bottom: 2.4rem; */
}

.team-item-showing {
  font-size: 1.6rem;
  line-height: 1.9rem;

  color: rgba(255, 255, 255, 0.6);
}

/* .national-team-nav {
  width: 100%;
  max-width: 33rem;
} */

.team-nav-list {
  list-style: none;

  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 5.6rem;
}

.natioanl-team-link:link,
.natioanl-team-link:visited {
  display: inline-block;
  font-size: 2rem;
  line-height: 2.4rem;
  color: rgba(255, 255, 255, 0.4);
  padding: 2rem;
  margin-bottom: auto;
}
.team-nav-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.active--team .natioanl-team-link {
  font-weight: 700;
  color: #ffffff;
}

.team-nav-border {
  border: 3px solid rgba(24, 26, 29, -1.04);
}

.active--team .team-nav-border {
  border: 3px solid #ca003d;
  background-color: #ca003d;
  border-radius: 4px 4px 0 0;
}

/****************************/
/* SINGLE PRODUCT PAGE STYLES */
/****************************/

.section-single-product {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2.4rem;
  align-items: center;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.single-product-img:first-child {
  padding: 4.5rem 15.5rem;
  height: 100%;
  grid-column: span 3;
}

.single-product-img {
  background-color: #181a1d;
  border-radius: 2.4rem;
}

.single-product-img:not(:first-child) {
  padding: 2.8rem 6.4rem;
}

.single-product-img img {
  width: 100%;
}

.single-product-right {
  grid-column: span 3;
  /* grid-row: span 2; */
}

.single-product-name {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.8rem;
  color: #ffffff;
}

.single-product-price {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  color: #ffffff;

  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 1.6rem;

  margin-top: 7rem;
  margin-bottom: 1.8rem;

  max-width: 19rem;
}

.product-sizes-box {
  display: flex;
  flex-direction: column;
}

.product-sizes {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 2.4rem;
}

.product-size {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 6.4rem;
  padding: 1.6rem 2.5rem;

  cursor: pointer;
  transition: all 0.3s;
}

.quantity-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 2.4rem;
}

.quantity-input,
.product-size {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1.2rem;
}

.product-size:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-3px);
}

.active-size {
  background-color: #ca003d;
}

.quantity-input {
  padding: 1.6rem 0 1.6rem 2.8rem;
  font-family: inherit;
  border: none;
  max-width: 9rem;
}

.add-to-cart-box,
.add-to-wishlist-box {
  display: flex;
  align-items: center;

  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1.2rem;

  transition: all 0.3s;
  cursor: pointer;
}

.add-to-cart-box {
  padding: 2rem 2.4rem 2rem 2.8rem;
  gap: 1.6rem;
}

.add-to-wishlist-box {
  padding: 2rem 2.4rem;
  gap: 1rem;
}

.add-to-cart-box:hover,
.add-to-wishlist-box:hover {
  background-color: #ca003d;
  transform: translateY(-3px);
}

.single-product-idk {
  background: #181a1d;
  border-radius: 2.4rem;
  width: 100%;
  height: 100%;
  grid-column: span 3;
}

/****************************/
/* SINGLE POST PAGE STYLES */
/****************************/

.section-blog {
  margin-bottom: 3.2rem;
}

.blog-content {
  margin-top: 2rem;
}

.blog-content h1 {
  font-size: 4.8rem;
  line-height: 5.8rem;
}

.blog-footer {
  display: flex;
  gap: 3.2rem;
}

.btn-read-more:link,
.btn-read-more:visited {
  font-size: 2.4rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-to-home-box img {
  padding: 1.8rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1.2rem;
}

.back-to-home-box:link,
.back-to-home-box:visited {
  padding-top: 1.8rem;
  border-top: 1px solid rgba(255, 255, 255, 0.05);

  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 2rem;
  line-height: 2.4rem;

  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}

.back-to-home-box:hover,
.back-to-home-box:active {
  color: rgba(255, 255, 255, 0.4);
}

/****************************/
/* SHOPPING CART PAGE STYLES */
/****************************/

.section-shopping-cart .shopping-cart-items {
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.shopping-cart-header {
  padding: 3.2rem 0;
}

.shopping-cart-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.shopping-cart-item {
  display: flex;
  align-items: center;
  gap: 2rem;

  background: #181a1d;
  border-radius: 1.2rem;
  padding: 2rem;
}

.shopping-cart-item img {
  width: 25%;
  height: 100%;
}

.shopping-cart-item .heading-secondary {
  color: #ffffff;
}

.shopping-cart-item-details {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.stock {
  color: rgba(30, 168, 127, 0.7);
}

.shopping-cart-item-footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item-quantity-form {
  display: flex;
  align-items: center;

  padding: 1.2rem 1.6rem;

  background: rgba(255, 255, 255, 0.02);
  border-radius: 1.2rem;

  cursor: pointer;
}

.item-quantity-form label,
.item-quantity-form select {
  color: #ffffff;
}

.item-quantity-form select {
  font-family: inherit;
  border: none;
  background-color: rgba(255, 255, 255, 0.02);
}

.btn--remove-item:link,
.btn--remove-item:visited {
  padding: 1.6rem 2rem;
  border-radius: 1.2rem;
  color: #ca003d;
  transition: all 0.3s;
}

.btn--remove-item:hover,
.btn--remove-item:active {
  background-color: rgba(255, 255, 255, 0.02);
}

.cart-total-box {
  text-align: end;
  margin-top: 2.4rem;
  grid-column: 1 / -1;
}

.cart-total {
  font-size: 2rem;
  line-height: 2.4rem;
  color: rgba(255, 255, 255, 0.7);
}

.cart-total-price {
  color: #ffffff;
}

.btn-cart-total {
  margin-top: 2.4rem;
  font-size: 1.6rem;
  line-height: 233.8%;
  color: #ffffff;

  padding: 1rem 3.2rem;
  background-color: #ca003d;
  border-radius: 1.2rem;
  transition: all 0.3s;
}

.btn-cart-total:hover {
  background-color: rgba(202, 0, 61, 0.8);
}

/****************************/
/* Wishlist PAGE STYLES */
/****************************/

.btn-wishlist-item {
  padding: 0 2.4rem;
}

.btn-wishlist-item:not(:last-child) {
  color: #008fff;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.btn-wishlist-item:not(:last-child):hover {
  color: rgba(0, 145, 255, 0.81);
}

.btn-wishlist-item:first-child {
  padding-left: 0;
}

/****************************/
/* CHECKOUT PAGE STYLES */
/****************************/
.checkout-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.checkout-form input,
.text-area {
  padding: 2.4rem;
  font-size: 2rem;
  line-height: 2.4rem;
  color: rgba(255, 255, 255, 0.3);
  border: none;
  background-color: #181a1d;
  border-radius: 1.2rem;
}

.text-area {
  grid-column: 1 / -1;
}

.checkbox-terms-conditions a {
  color: blue;
  transition: all 0.3s;
}

.checkbox-terms-conditions a:hover {
  color: rgba(0, 0, 255, 0.8);
}

.checkbox-terms-conditions {
  margin-top: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.checkbox-terms-conditions label {
  cursor: pointer;
  transition: all 0.3s;
}

.checkbox-terms-conditions label:hover {
  color: rgba(255, 255, 255, 0.5);
}

.payment-method-icons {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3.2rem;
}

/****************************/
/* TRANSACTION END PAGE STYLES */
/****************************/

.section-transaction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.transaction-box {
  text-align: center;
}

.transaction-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.3rem;
  background-color: rgba(30, 168, 127, 0.1);
  border-radius: 50%;
  width: 11rem;
  height: 11rem;
  margin: 0 auto;
  margin-bottom: 6.4rem;
}

.not-successful {
  background: rgba(209, 31, 60, 0.1);
}

.transaction-box .heading-secondary {
  color: #ffffff;
}

.transaction-text {
  margin-top: 2.4rem;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.btn-transaction:link,
.btn-transaction:visited {
  display: inline-block;
  margin-top: 6.4rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 233.8%;
  color: #ffffff;
  padding: 8px 2.4rem;
  background: #ca003d;
  border-radius: 1.2rem;
}
